<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>me.bsago.bblm.rust</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>BBLM</string>
    <key>CFBundleVersion</key>
    <string>8.0</string>
    <key>CSResourcesFileMapped</key>
    <true/>
    <key>com.barebones.bblminfo</key>
    <array>
        <dict>
            <key>BBLMCanGuessLanguage</key>
            <true/>
            <key>BBLMColorsSyntax</key>
            <true/>
            <key>BBLMDroppedFilePathStyle</key>
            <string>POSIX</string>
            <key>BBLMCommentLineDefault</key>
            <string>// </string>
            <key>BBLMCommentPrefixDefault</key>
            <string>/* </string>
            <key>BBLMCommentSuffixDefault</key>
            <string> */</string>
            <key>BBLMIsCaseSensitive</key>
            <true/>
            <key>BBLMRunNames</key>
            <dict>
                <key>me.bsago.bblm.rust.lifetime</key>
                <string>&apos;lifetime</string>
                <key>me.bsago.bblm.rust.identifier</key>
                <string>Identifier</string>
                <key>me.bsago.bblm.rust.function</key>
                <string>fn functionname</string>
                <key>me.bsago.bblm.rust.module</key>
                <string>mod modulename</string>
            </dict>
            <key>BBLMRunColors</key>
            <dict>
                <key>me.bsago.bblm.rust.module</key>
                <string>rgb(135, 2, 219)</string>
                <key>me.bsago.bblm.rust.lifetime</key>
                <string>rgb(133, 20, 75)</string>
                <key>me.bsago.bblm.rust.identifier</key>
                <string>rgb(61, 153, 112)</string>
                <key>me.bsago.bblm.rust.function</key>
                <string>rgb(219, 135, 2)</string>
            </dict>
            <key>BBLMKeywords</key>
            <array>
                <dict>
                    <key>RunKind</key>
                    <string>com.barebones.bblm.keyword</string>
                    <key>Keywords</key>
                    <array>
                        <!-- https://doc.rust-lang.org/nightly/book/appendix-01-keywords.html -->

                        <!-- current -->
                        <string>as</string>
                        <string>break</string>
                        <string>const</string>
                        <string>continue</string>
                        <string>crate</string>
                        <string>dyn</string>
                        <string>else</string>
                        <string>enum</string>
                        <string>extern</string>
                        <string>false</string>
                        <string>fn</string>
                        <string>for</string>
                        <string>if</string>
                        <string>impl</string>
                        <string>in</string>
                        <string>let</string>
                        <string>loop</string>
                        <string>match</string>
                        <string>mod</string>
                        <string>move</string>
                        <string>mut</string>
                        <string>pub</string>
                        <string>ref</string>
                        <string>return</string>
                        <string>self</string>
                        <string>static</string>
                        <string>struct</string>
                        <string>super</string>
                        <string>trait</string>
                        <string>true</string>
                        <string>type</string>
                        <string>union</string>
                        <string>unsafe</string>
                        <string>use</string>
                        <string>where</string>
                        <string>while</string>

                        <!-- reserved for future use -->
                        <string>abstract</string>
                        <string>async</string>
                        <string>become</string>
                        <string>box</string>
                        <string>do</string>
                        <string>final</string>
                        <string>macro</string>
                        <string>override</string>
                        <string>priv</string>
                        <string>try</string>
                        <string>typeof</string>
                        <string>unsized</string>
                        <string>virtual</string>
                        <string>yield</string>
                    </array>
                </dict>
                <dict>
                    <key>RunKind</key>
                    <string>com.barebones.bblm.predefined-symbol</string>
                    <key>Keywords</key>
                    <array>
                        <string>bool</string>
                        <string>char</string>
                        <string>f32</string>
                        <string>f64</string>
                        <string>i8</string>
                        <string>i16</string>
                        <string>i32</string>
                        <string>i64</string>
                        <string>i128</string>
                        <string>isize</string>
                        <string>u8</string>
                        <string>u16</string>
                        <string>u32</string>
                        <string>u64</string>
                        <string>u128</string>
                        <string>usize</string>
                        <string>str</string>

                        <!-- ones from libc -->
                        <string>blkcnt_t</string>
                        <string>blksize_t</string>
                        <string>c_char</string>
                        <string>c_double</string>
                        <string>c_float</string>
                        <string>c_int</string>
                        <string>c_long</string>
                        <string>c_longlong</string>
                        <string>c_schar</string>
                        <string>c_short</string>
                        <string>c_uchar</string>
                        <string>c_uint</string>
                        <string>c_ulong</string>
                        <string>c_ulonglong</string>
                        <string>c_ushort</string>
                        <string>c_void</string>
                        <string>clock_t</string>
                        <string>clockid_t</string>
                        <string>dev_t</string>
                        <string>fpos_t</string>
                        <string>fpos64_t</string>
                        <string>fsblkcnt_t</string>
                        <string>fsfilcnt_t</string>
                        <string>gid_t</string>
                        <string>greg_t</string>
                        <string>id_t</string>
                        <string>idtype_t</string>
                        <string>in_addr_t</string>
                        <string>in_port_t</string>
                        <string>ino64_t</string>
                        <string>ino_t</string>
                        <string>int8_t</string>
                        <string>int16_t</string>
                        <string>int32_t</string>
                        <string>int64_t</string>
                        <string>intmax_t</string>
                        <string>intptr_t</string>
                        <string>key_t</string>
                        <string>locale_t</string>
                        <string>loff_t</string>
                        <string>mode_t</string>
                        <string>mqd_t</string>
                        <string>msglen_t</string>
                        <string>msgqnum_t</string>
                        <string>nfds_t</string>
                        <string>nl_item</string>
                        <string>nlink_t</string>
                        <string>off64_t</string>
                        <string>off_t</string>
                        <string>pid_t</string>
                        <string>pthread_key_t</string>
                        <string>pthread_t</string>
                        <string>ptrdiff_t</string>
                        <string>rlim64_t</string>
                        <string>rlim_t</string>
                        <string>sa_family_t</string>
                        <string>shmatt_t</string>
                        <string>sighandler_t</string>
                        <string>size_t</string>
                        <string>socklen_t</string>
                        <string>speed_t</string>
                        <string>ssize_t</string>
                        <string>suseconds_t</string>
                        <string>tcflag_t</string>
                        <string>time_t</string>
                        <string>uid_t</string>
                        <string>uint8_t</string>
                        <string>uint16_t</string>
                        <string>uint32_t</string>
                        <string>uint64_t</string>
                        <string>uintmax_t</string>
                        <string>uintptr_t</string>
                        <string>useconds_t</string>
                        <string>wchar_t</string>
                        <!-- missing is 'timezone', which could be a variable name -->
                    </array>
                </dict>
            </array>
            <key>BBLMLanguageCode</key>
            <string>Rust</string>
            <key>BBLMLanguageDisplayName</key>
            <string>Rust</string>
            <key>BBLMEntryPointName</key>
            <string>rustMain</string>
            <key>BBLMScansFunctions</key>
            <true/>
            <key>BBLMFunctionScannerDoesFoldsToo</key>
            <true/>
            <key>BBLMSuffixMap</key>
            <array>
                <dict>
                    <key>BBLMLanguageSuffix</key>
                    <string>.rs</string>
                </dict>
            </array>
            <key>BBLMUseHTMLFileSearchRules</key>
            <false/>
            <key>BBLMSpellableRunKinds</key>
            <array>
                <string>com.barebones.bblm.line-comment</string>
                <string>com.barebones.bblm.block-comment</string>
            </array>
            <key>BBLMNonSpellableRunKinds</key>
            <array>
                <string>com.barebones.bblm.code</string>
                <string>com.barebones.bblm.double-string</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
